################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/Debug
**/obj
**/bin
**/.vs
**/logs
/sources/GHSTShipping/Src/Presentation/GHSTShipping.WebApi/wwwroot
/sources/GHSTShipping/Client/package-lock.json
/sources/GHSTShipping/Client/yarn.lock
