.selected-row {
    background-color: #e6f7ff !important;
    /* Light blue background */
}

.ant-table-tbody>tr:hover>td {
    background-color: #f5f5f5 !important;
    /* Light grey background on hover */
}

.ant-table-tbody>tr {
    cursor: pointer;
}